docs/n8n-workflows/daily-get-jobs.json
{
  "id": "X8XvuwsDK8Pqpqdd",
  "name": "Daily Get Jobs",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "550138ad-02c9-4325-a535-eb03d244d67f",
      "name": "CLI Smoke Test Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "7b4b4d64-76a5-45ec-b5e8-6c450df78c66",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "cd /d D:\\CodeSpace\\job-finder && npm run review:today"
      },
      "id": "d7123bbd-3dfc-4d2d-8f4e-25cfe8365201",
      "name": "Run review:today",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "55ff74f7-4ff3-435b-9f86-7dcf6f1e8a57",
      "name": "Command succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "codex --version"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Check Codex CLI",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        780,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Codex available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        -100
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "cd /d D:\\CodeSpace\\job-finder && npm run enrich:accepted"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Run enrich:accepted",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1300,
        -200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Enrich skipped (no CLI)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ]
    },
    {
      "parameters": {},
      "id": "15fd8f45-8271-44dc-ae24-590c36c0c74b",
      "name": "Failure placeholder",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        100
      ]
    }
  ],
  "connections": {
    "CLI Smoke Test Trigger": {
      "main": [
        [
          {
            "node": "Run review:today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Run review:today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run review:today": {
      "main": [
        [
          {
            "node": "Command succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command succeeded?": {
      "main": [
        [
          {
            "node": "Check Codex CLI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Codex CLI": {
      "main": [
        [
          {
            "node": "Codex available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codex available?": {
      "main": [
        [
          {
            "node": "Run enrich:accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrich skipped (no CLI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-02T00:00:00.000Z",
  "versionId": "0d015a70-70b8-4f1e-9fd5-b83e88abef4f",
  "active": false
}
